#!/bin/bash
export INFLUX_HOST="http://{{ influxdb_ip }}:8086"
export INFLUX_DATABASE="current_test"
export TARGET_IPS="1.1.1.3, 1.1.1.4, 1.1.1.5, 1.1.1.7"
export INFLUX_TAG="{{ slice_id }}"
export INFLUX_CREDS="admin:admin"

cd downtimer
./bin/scalatimer
